input {
  background-color: #fff;
  border: none;
  border-radius: 20px;

  padding: 10px;
  padding-left: 15px;
  margin-left: -2rem;

  font-size: 17px;
  width: 30rem;
  justify-self: stretch;

  box-shadow: 5px 5px 5px rgb(189, 62, 189);
}

input:focus {
  background-color: #fff;
  border: none;
  border-radius: 20px;

  padding: 10px;
  padding-left: 15px;
  margin-left: -2rem;

  font-size: 17px;
  width: 30rem;
  justify-self: stretch;

  box-shadow: 5px 5px 5px rgb(189, 62, 189);
}

button {
  border: none;
  background-color: #fff;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  margin-left: 1.2rem;

  box-shadow: 5px 5px 5px rgb(189, 62, 189);

  .icon {
    text-align: center;
  }
}

@media (max-width: 59em) {
  input {
    padding: 8px;
    padding-left: 12px;

    font-size: 15px;
    width: 20rem;
  }

  input:focus {
    font-size: 15px;
    width: 20rem;
  }

  button {
    height: 2.1rem;
    width: 2.1rem;
  }
}

@media (max-width: 44em) {
  input {
    width: 16rem;
  }

  input:focus {
    width: 16rem;
  }

  button {
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 34em) {
  input {
    width: 18rem;
  }

  input:focus {
    width: 18rem;
  }
}
