.day {
  display: flex;
  gap: 0.5rem;
  justify-self: right;
  margin-right: 2.5rem;
}

.year,
.month,
.date {
  background-color: #fff;
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(189, 62, 189);
}
