.maincontent {
  background-color: #fff;

  margin: 2.5rem auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 50rem;

  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(255, 133, 214);
}

.tasklist {
  background-image: linear-gradient(45deg, #f2827f, #ffb7c5);
  box-shadow: 3px 3px 3px #c4b6b5;

  border-radius: 10px;
  font-size: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    padding-left: 2rem;
    color: rgb(153, 13, 106);
    font-weight: 500;
  }

  .icon {
    padding-right: 2rem;
    color: rgb(104, 8, 72);
    font-size: 1.7rem;
  }
}

.break {
  height: 1rem;
  margin-top: 0.2rem;
  width: 100%;
  background-color: #fff;
}

@media (max-width: 59em) {
  .maincontent {
    margin-top: 2.7rem;
    width: 45rem;
  }
}

@media (max-width: 44em) {
  .maincontent {
    width: 35rem;
  }
}

@media (max-width: 34em) {
  .maincontent {
    width: 30rem;
  }
}
